{% extends "base.html" %}

{% block content %}

<div class="contact-list">
    <div class="row">
        <div class="col-md-offset-4 col-md-2">
            <div class="member">
                <a target="_blank" class="btn btn-link" href="http://weibo.com/ravenzh">
                    <img class="img-circle" src="http://tp1.sinaimg.cn/1642017292/180/1279882862/1"/>
                    <span>raven</span>
                </a>
                <span class="badge">产品</span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="member">
                <a target="_blank" class="btn btn-link" href="http://15yan.com/i/pyloque/">
                    <img class="img-circle" src="http://tp3.sinaimg.cn/1682407470/180/22870472511/1"/>
                    <span>pyloque</span>
                </a>
                <span class="badge">技术</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
