{% extends "base.html" %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ static_for('styles/account.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-4 col-md-4 fill-email">
        <form method="POST" class="form-inline">
            <div class="row">
                <div class="col-md-offset-1 col-md-8">
                    <div class="form-group">
                    {{ form.email(placeholder=form.email.description, class="form-control") }}
                    </div>
                    {% if form.email.errors %}
                    <p class="text-danger">
                    {{ form.email.errors[0] }}
                    </p>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button class="btn btn-success">验证</button> 
                    </div>
                </div>
                {{ form.csrf_token }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
