{% extends "base.html" %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ static_for('styles/account.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-4 col-md-4 register">
        <form method="POST" class="form-horizontal" id="register-form">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="form-group">
                    {{ form.realname(placeholder=form.realname.description, class="form-control") }}
                    {% if form.realname.errors %}
                    <p class="text-danger">{{ form.realname.errors[0] }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="form-group gender-input">
                    {{ form.gender(class="radio") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="form-group">
                    {{ form.introduction(placeholder=form.introduction.description, rows=10, class="form-control") }}
                    {% if form.introduction.errors %}
                    <p class="text-danger">{{ form.introduction.errors[0] }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="form-group">
                    <input type="password" id="first_password" placeholder="输入密码" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="form-group">
                    <input type="password" id="second_password" placeholder="再次输入密码" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    <div class="form-group">
                        <button class="btn btn-success">进入</button> 
                    </div>
                </div>
            </div>
            {{ form.public_key }}
            {{ form.password_encrypt }}
            {{ form.form_id }}
            {{ form.csrf_token }}
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type='text/javascript' src='{{ static_for('scripts/account.js') }}'></script>
{% endblock %}
